.advantage-section {
	position: absolute;
	top: 79%;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 85px;
}

.advantage__title {
	margin: 0 0 15px 0;
	width: 140px;
	color: $slave-color;
	margin-right: 136px;
}

