.social {
  display: flex;
  justify-content: center;
}
.social__item {
  width: 55px;
  height: 55px;

  padding: 12px 10px;
  background-color: $hover-color;
  border-right: 1px solid $slave-color;
  fill: $slave-color;
  font-size: 30px;
  text-decoration: none;
  color: $slave-color;
  line-height: 1;
  &:last-child {
	 border-right: 0;
  }
  &:hover {
	background-color: $slave-color;
	fill: $primary-color;
 }
}
