$main-color: #18191d;
$main-font-size: 13px;
$main-font-family: "Montserrat", sans-serif;
$main-line-height: 1.5;
$title-font-size: 20px;
$primary-color: #ff6b08;
$secondary-color: #b9b9b9;
$primary-font-size: 11px;
$slave-color: #ffffff  ;
$slave-font-size: 15px;
