@media screen and (min-width: 768px) {
	.sait {
		 min-height: 700px;
		 background-image: url(../img/bgtablet.jpg);

	}

	.naw {
		 display: flex;
		 flex-direction: row-reverse;
		 justify-content: space-between;
		 align-items: center;
	}

	h1 {
		 font-size: 52px;
	}

	.text-item {
		 font-size: 24px;
	}

	.button-partner {
		 padding: 12px 22px;
	}

	.see {
		 padding: 12px 30px;
	}
}

@media screen and (min-width: 960px) {
	.sait {
		 background-image: url(../img/bg_desc.jpg);
	}
}