/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;

  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/Montserat/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Montserat/montserrat-v14-latin-regular.woff") format("woff"); /* Modern Browsers */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserat/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Montserat/montserrat-v14-latin-700.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"),
    url("../fonts/Roboto/roboto-v20-latin-300.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Roboto/roboto-v20-latin-regular.woff") format("woff"); /* Modern Browsers */
}

.custo {
  outline: 1px solid #555555;
  min-height: 100px;
}



.wrapper {
  height: 540px;
  background-image: url("../img/bg_desc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navigation {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo-href {
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}

.logo-img {
  display: block;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  display: inline-block;
  position: relative;
}

.nav-a-border {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgba(26, 25, 21, 0);
  min-width: 90px;
  height: 36px;
  text-align: center;
}

.nav-a {
  display: block;
  margin-bottom: 126px;
  padding: 10px;
  min-width: 90px;
  border: 2px solid rgba(255, 255, 255, 0);
  color: #ffffff;
  border-radius: 20px;
  background-color: rgba(26, 25, 21, 0);
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.nav-a:hover {
  border-color: rgba(255, 255, 255, 1);
}

.head-sign {

  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.head-description {
  margin-top: 0;
  /* padding: 0 30px; */
  padding: 0 30px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}

.head-button-wrap {
  display: flex;
  justify-content: center;
}

.header-button {
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  text-align: center;
  margin: 0;
  /* margin: 0 5px; */
  /* display: inline-block; */
}

.header-button-sign {
  display: block;
  margin: 0 auto;
  padding: 12px 50px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.sign-large-1 {
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 68px;
  /* padding: 68px 5% 5%; */
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #333333;
  text-align: center;
  line-height: 1.2;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  /* align-items: center; */
}

.card {
  width: 320px;
  margin-bottom: 28px;
}

.img-wrapper {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 0 auto 18px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-circle-wrap {
  box-sizing: border-box;
  border: 4px solid #ffffff;
  border-radius: 21px;
  width: 41px;
  height: 41px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.card-circle-bg-color-1 {
  background-color: #ff4e50;
}

.card-circle-bg-color-2 {
  background-color: #ffa507;
}

.card-circle-bg-color-3 {
  background-color: #1cd7ad;
}

.card-circle-bg-color-4 {
  background-color: #4e73db;
}

.circle-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text-container {
  padding: 0 50px 0;
}

.card-sign {
  margin: 0;
  margin-bottom: 13px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #333333;
  text-transform: capitalize;
  text-align: center;
}

.card-text {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #666666;
  line-height: 1.2;
}

.down-button-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
}

.down-button {
  border: 2px solid rgb(255, 78, 80);
  border-radius: 22px;
  text-align: center;
  /* display: inline-block; */
}

.down-button-sign {
  display: block;
  margin: 0 auto;
  /* padding: 12px 72px; */
  padding: 12px 70px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 78, 80);
  font-weight: bold;
  line-height: 1.2;
}
