$main-color: #333;
$main-font-size: 14px;
$main-font-family: "Montserrat", sans-serif;
$main-line-height: 1.6;
$primary-color: #ffffff;
$secondary-color: #999999;
$primary-font-family: 'Roboto',
sans-serif;
$primary-font-size: 15px;
$hover-color: #fce38a;
$hover-bg-color: #95e1d3;
$slave-font-family: 'Kaushan Script',
cursive;
$slave-color: #f38181;
$bold-font-weight: 700;
