.advantage-section {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 25px;
  &__title {
    margin: 0 0 15px 0;
    width: 140px;
    color: $slave-color;
    margin-right: 136px;
  }
  @include tablets {
    padding-top: 90px;
    &__title {
      text-align: center;
      width: 478px;
      margin: 0 auto;
    }
  }
  @include laptop {
    top: 49%;
    padding-top: 170px;
    &__title {
      font-size: 42px;
      line-height: 57px;
      width: 830px;
    }
  }
  @include desktop {
    padding-top: 280px;
    &__title {
      font-size: 46px;
      line-height: 63px;
    }
  }
}
