html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: $main-font-family;
  font-size: $main-font-size;
  color: $main-color;
  line-height: $main-line-height;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

ul {
  @include reset;
}

button {
  @include reset;
}
