.container {
  width: 280px;
  margin: 0 auto;
  text-align: left;
  @include tablets {
    width: 688px;
  }
  @include laptop {
	  width: 1210px;
  }
}

.suptitle__inner {
  color: $primary-color;
}
.title {
  font-size: $title-font-size;
  font-weight: 800;
  @include tablets {
    font-size: 26px;
    line-height: 33px;
  }
  @include laptop {
	  font-size: 48px;
	  line-height: 58px;
  }
}
