.header-section {
  background-image: url(../images/bg-mob.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-size: cover;
  padding-bottom: 51px;
  &__block {
    margin: 0;
  }
  &__title {
    margin-bottom: 28px;
  }
  &__slogan {
    font-size: $slave-font-size;
    line-height: 20px;
    color: $secondary-color;
    margin-bottom: 12px;
    font-weight: 500;
  }
  &__suptitle {
    font-size: $slave-font-size;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__button {
    margin-bottom: 36px;
  }
  &__photo {
    width: 215px;
    height: 185px;
    margin: 0 auto 88px;
  }
  &__features {
    margin: 0;
    list-style: none;
    padding: 0 30px;
  }
  &__item {
    margin-bottom: 23px;
    display: inline-block;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    width: 58px;
    height: 58px;
    display: inline-block;
    border: 2px solid $primary-color;
    vertical-align: bottom;
    margin-right: 12px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    &--icon1 {
      background-image: url(../images/icons/icons/Female_Student.png);
    }
    &--icon2 {
      background-image: url(../images/icons/icons/Mobile.png);
    }
    &--icon3 {
      background-image: url(../images/icons/icons/Dollar.png);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 11px;
      height: 36px;
      background-color: $slave-color;
      top: 10px;
      right: -7px;
    }
  }
  &__text {
    line-height: 20px;
    font-weight: 700;
    display: inline-block;
    width: 138px;
  }
  @include tablets {
    background-image: url(../images/bg-tab.png);
    background-position-y: -300px;
    &__content {
      @include center-flex($type: 'ver');
    }
    &__block {
      margin-right: 37px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__button {
      margin: 0 0 129px 0;
    }
    &__photo {
      width: 368px;
      height: 315px;
    }
    &__features {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
    &__item {
      margin: 0;
    }
  }
  @include laptop {
    background-image: url(../images/bg-desk.png);
    &__photo {
      width: 682px;
      height: 585px;
      margin-bottom: 129px;
    }
    &__slogan {
      font-size: 18px;
    }
    &__suptitle {
      margin-bottom: 53px;
      font-size: 18px;
    }
    &__icon {
      width: 103px;
		height: 103px;
		margin: 0;
      margin-bottom: 86px;
      &::after {
        height: 79px;
      }
    }
    &__text {
		width: 250px;
		position: absolute;
		top: 18%;
		left: 20%;
    }
    &__item {
		position: relative;
		width: 400px;
    }
  }
}
