.program-section {
  position: relative;
  padding-top: 52px;
  padding-bottom: 47px;
  background-color: #111517;
  height: 1891px;
  background-image: url(../images/photos/photo-02-cut.jpg);
  background-repeat: no-repeat;
  background-position: 100% 84%;
  &__title {
    color: $slave-color;
    text-align: center;
    line-height: 33px;
    margin-bottom: 37px;
  }

  &__list {
    position: relative;
    padding: 0 0 0 34px;
    width: 150px;
    margin: 0 auto;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 2px;
      height: 1230px;
      background-color: $secondary-color;
    }
  }
  &__item {
    width: 140px;
    position: relative;
    padding-right: 20px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: -38px;
      width: 10px;
      height: 10px;
      background-color: rgb(255, 107, 8);
      border-radius: 5px;
    }
  }
  &__block {
    margin-bottom: 16px;
  }
  &__subtitle {
    letter-spacing: 1.5px;
    font-size: $slave-font-size;
    line-height: 1.5;
    font-weight: 700;
    color: $slave-color;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
  &__caption {
    position: relative;
    margin-left: 35px;
    font-size: 13px;
    line-height: 29px;
    font-weight: 500;
    color: $primary-color;
    margin-bottom: 18px;
    &--visibility {
      color: $main-color;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 25px;
      height: 2px;
      top: 13px;
      left: -35px;
      background-color: $primary-color;
    }
  }
  &__theme {
    font-size: $primary-font-size;
    line-height: 20px;
    font-weight: 400;
    color: $secondary-color;
    margin-bottom: 18px;
  }
  @include tablets {
    padding-top: 66px;
    background-image: url(../images/photos/photo-02-cut-tablet.jpg);
    background-position: 100% 810px;
    height: 1331px;
    &__title {
      margin-bottom: 51px;
      text-align: left;
    }
    &__list {
      padding: 0;
      padding-left: 56px;
      width: 500px;
      &::before {
        height: 721px;
      }
    }
    &__item::before {
      left: -60px;
    }
    &__subtitle {
      margin-bottom: 10px;
    }
    &__block {
      display: flex;
      &--item {
        margin-right: 70px;
        width: 160px;
      }
    }
    &__caption {
      margin-bottom: 10px;
      &::before {
        left: -33px;
      }
    }
  }
  @include laptop {
    padding-top: 78px;
    background-image: url(../images/photos/photo-02-cut-desktop.jpg);
    background-position: 0 514px;
    height: 1219px;
    overflow: hidden;
    &__title {
      font-size: 42px;
      margin-bottom: 29px;
    }
    &__subtitle {
      font-size: 19px;
      line-height: 29px;
    }
    &__caption {
      font-size: 18px;
      line-height: 29px;
    }
    &__theme {
      font-size: 19px;
      line-height: 29px;
    }
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      margin: 0 auto;
      padding: 0;
      padding-top: 40px;
      padding-left: 30px;
      min-width: 1210px;
      &::before {
        content: '';
        width: 100vw;
        transform: translateX(calc((-100vw + 1210px) / 2));
        height: 2px;
      }
    }
    &__item {
      width: 160px;
      &::before {
        left: 0;
        top: -34px;
      }
    }
    &__block {
      display: block;
      &--item {
        width: 160px;
      }
    }
  }
}
