.reviews-section {
	padding-bottom: 55px;
	text-align: center;
}

.reviews-section__titile{
	margin-bottom: 17px;
	color: $main-color;
	line-height: 27px;
}

.slider {
	position: relative;
	width: 280px;
	margin: 0 auto;
}

.slider__buttons {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
	z-index: 1;
}

.slider__ctrl {
	position: absolute;
	bottom: 21px;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 11px;
	border: none;
	z-index: 1;
	background-color: transparent;
}

.slider__ctrl-prev {
	background-image: url(../images/icons/icons/icon-prev-320.png);
	left: 0;
}

.slider__ctrl-next {
	background-image: url(../images/icons/icons/icon-next-320.png);
	right: 0;
}


.reviews-section__content {
	padding: 22px 35px 34px;
	background-color: #fff;
	box-shadow: 4px 6.928px 34.96px 11.04px rgba(29, 29, 27, 0.09);
}

.reviews-section__image {
	width: 80px;
	img {
		margin: 0 auto 18px;
	}
}

.reviews-section__link {
	display: block;
	margin-bottom: 8px;
	width: 34px;
	margin: 0 auto;
}

.reviews-section__name {
	font-weight: 800;
	line-height: 29px;
}

.reviews-section__about {
	font-size: $primary-font-size;
	color: $secondary-color;
	line-height: 17px;
	font-weight: 500;
	margin-bottom: 22px;
}

.reviews-section__text {
	font-size: $primary-font-size;
	line-height: 20px;
	color: $main-color;
	font-weight: 500;
}

.slides__text-tablet {
	display: none;
}

.reviews-section__button {
	margin: 0;
	padding: 0;
	right: 36px;
	bottom: 34px;
	font-size: $primary-font-size;
	font-weight: 500;
	text-decoration: underline;
	border: none;
	background-color: #fff;
}

.slider__pagination {
	padding-top: 10px;
	position: relative;
	z-index: 3;
}

.slider-pagination__item {
	border: 2px solid transparent;
	background: none;
	&:nth-last-child(-n +4) {
		display: none;
	 }
}
