.warranty-section {
  margin-bottom: 48px;
  &__title {
    text-align: center;
    line-height: 63px;
  }
  &__wrapper {
    background-color: #f1f1f1;
    padding-top: 28px;
    padding-bottom: 23px;
  }
  &__list {
    padding: 0;
    position: relative;
    &::after {
      content: '';
      display: inline-block;
      border-width: 1px;
      border-color: #bababa;
      border-style: dotted;
      position: absolute;
      width: 1px;
      height: 80%;
      top: 10px;
      left: 12px;
      z-index: 1;
    }
  }
  &__item {
    position: relative;
    padding-left: 34px;
    width: 239px;
    font-size: $primary-font-size;
    line-height: 20px;
    color: #18191d;
    font-weight: 500;
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      display: block;
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      left: 0;
      top: 0;
      background-image: url(../images/icons/icons/icon-campfire.svg);
      background-repeat: no-repeat;
      background-position: center;
      z-index: 2;
    }
  }
  @include tablets {
    margin-bottom: 65px;
    &__title {
      margin-bottom: 20px;
    }
    &__wrapper {
      padding-top: 39px;
      padding-bottom: 24px;
    }
    &__list {
      padding: 0 55px;
      &::after {
        left: 67px;
      }
    }
    &__item {
      width: 547px;
    }
  }
}
